# Content Filtering - Movie Recommendations

Content filtering (used by Pandora as well as NYT), involves mapping items as well as users onto a feature space.

Let's do an in class example of this now using movie recommendations.

In [2]:
import pandas as pd
import numpy as np

In [3]:
features = ['child_friendly','action_packed','blockbusters','quirky','comedy']

In [4]:
student_names = ['Peter','Walter','Erik','Dylan','Thomas','Song']

user_matrix = pd.DataFrame([[1,7,8,6,8],
                           [1,7,7,6,9],
                           [1,8,7,9,8],
                           [9,9,10,8,7],
                           [4,8,6,7,5],
                           [1,4,7,6,8] ],
                           index=student_names,
                           columns=features)

user_matrix

        child_friendly  action_packed  blockbusters  quirky  comedy
Peter                1              7             8       6       8
Walter               1              7             7       6       9
Erik                 1              8             7       9       8
Dylan                9              9            10       8       7
Thomas               4              8             6       7       5
Song                 1              4             7       6       8

In [5]:
user_matrix - 5

        child_friendly  action_packed  blockbusters  quirky  comedy
Peter               -4              2             3       1       3
Walter              -4              2             2       1       4
Erik                -4              3             2       4       3
Dylan                4              4             5       3       2
Thomas              -1              3             1       2       0
Song                -4             -1             2       1       3

In [8]:
movie_matrix.T

,Finding Nemo,Die Hard,Grand Budapest Hotel,Dark Knight,Lion King,Amelie,Wolf of Wall Street
child_friendly,10,0,0,1,10,1,0
action_packed,4,10,3,10,7,2,5
blockbusters,8,10,4,10,10,2,10
quirky,2,2,9,0,0,9,7
comedy,7,6,8,0,1,7,6

In [9]:
# Recommendations
(user_matrix -5 ).dot( (movie_matrix -5).T )

,Finding Nemo,Die Hard,Grand Budapest Hotel,Dark Knight,Lion King,Amelie,Wolf of Wall Street
Peter,-10,45,26,21,-18,11,40
Walter,-11,41,30,11,-27,16,36
Erik,-23,36,37,6,-36,23,41
Dylan,26,18,-15,4,30,-27,13
Thomas,-11,19,6,14,-4,0,14
Song,-10,25,33,1,-29,23,35

In [6]:

movie_matrix = pd.DataFrame([[10,4,8,2,7],
                             [0,10,10,2,6],
                             [0,3,4,9,8],
                             [1,10,10,0,0],
                             [10,7,10,0,1],
                             [1,2,2,9,7],
                             [0,5,10,7,6]],
                            index=['Finding Nemo',
                                   'Die Hard',
                                   'Grand Budapest Hotel',
                                   'Dark Knight',
                                   'Lion King',
                                   'Amelie',
                                   'Wolf of Wall Street'],
                            columns=features)

movie_matrix

,child_friendly,action_packed,blockbusters,quirky,comedy
Finding Nemo,10,4,8,2,7
Die Hard,0,10,10,2,6
Grand Budapest Hotel,0,3,4,9,8
Dark Knight,1,10,10,0,0
Lion King,10,7,10,0,1
Amelie,1,2,2,9,7
Wolf of Wall Street,0,5,10,7,6

In [ ]:
user_matrix.dot(movie_matrix.T)

In [10]:
(user_matrix - 5).dot( (movie_matrix - 5).T )

,Finding Nemo,Die Hard,Grand Budapest Hotel,Dark Knight,Lion King,Amelie,Wolf of Wall Street
Peter,-10,45,26,21,-18,11,40
Walter,-11,41,30,11,-27,16,36
Erik,-23,36,37,6,-36,23,41
Dylan,26,18,-15,4,30,-27,13
Thomas,-11,19,6,14,-4,0,14
Song,-10,25,33,1,-29,23,35

As you can see, content filtering involves a lot of manual labor. Not only do features need to be specified apriori, but users AND items need to be mapped onto these features. If new features arrive, the existing items and users can be mapped and new recommendations recalculated for all items.