# Kaggle In Class Competition

<img src="http://cdn.alleywatch.com/wp-content/uploads/2013/06/Competition.jpg" width=300/>
<center>**Competition Time**</center>

We're going to use all of the technique's we've learned in order to classify an old Kaggle competition. This competition data provides the scientists with 93 features (which seem to have been cleaned!), and asks users to classify each item/row into class_1 to class_9.

At first, you will only have access to the training set. After some time, the test set will be released and we will have a chance to compare our best models!

Things to try:
* Start small and simple! Try simpler techniques such as logistic regression or SVMs.
* Maybe you don't actually wan't ALL of the features. Maybe some are noisy. Would feature selection help?
* This training dataset is large, so it may help to test your ideas out on subsets of the training data. Ask questions to others to help guide you!
* Think about why you might want a decision tree or other classifier.
* Build upon your base ideas with ensemble techniques.

In [3]:
import pandas as pd
import numpy as np
from sklearn import datasets
from sklearn import ensemble

import matplotlib.pyplot as plt

%matplotlib inline

In [7]:
# Train set - Use this data to build your model
train = pd.read_csv('train.csv')
train.head()

,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,feat_10,...,feat_85,feat_86,feat_87,feat_88,feat_89,feat_90,feat_91,feat_92,feat_93,target
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Class_4
1,0,0,0,0,0,0,0,0,0,0,...,0,0,2,0,0,1,0,0,1,Class_6
2,0,0,0,0,0,0,0,1,0,0,...,0,4,1,4,0,2,0,0,0,Class_3
3,2,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,1,0,Class_8
4,1,0,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,34,0,0,Class_9

In [11]:
# read your data
X_train = train.ix[:,0:-1]
Y_train = train.target

0    Class_4
1    Class_6
2    Class_3
3    Class_8
4    Class_9
Name: target, dtype: object

In [ ]:
from sklearn import ensemble
from sklearn.cross_validation import cross_val_score
from sklearn.cross_validation import StratifiedKFold
from sklearn import linear_model

In [ ]:
# logistic regression
model_lr

In [ ]:
# clean up data

In [ ]:
#model build/fit

In [ ]:
# test/score

In [ ]:
# Later on - Will upload test set during class
test = pd.read_csv('test.csv')